.cl {
  border-left-style: solid;
  border-left-color: green;
}

.int {
  border-left-style: solid;
  border-left-color: rgba(0, 0, 255, 0.753);
}

.gru {
  border-left-style: solid;
  border-left-color: rgba(0, 128, 0, 0.623);
}
