<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  message="Carregando, aguarde..."
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false"
>
</dx-load-panel>
<!-- Start chats content -->
<div>
  <div class="px-4 pt-4">
    <h4 class="mb-4">{{ "chat.tabs.chats.title" | translate }}</h4>
    <div class="search-box chat-search-box">
      <div class="input-group mb-3 bg-light input-group-lg rounded-lg">
        <div class="input-group-prepend">
          <button
            class="btn btn-link text-muted pr-1 text-decoration-none"
            type="button"
          >
            <i class="ri-search-line search-icon font-size-18"></i>
          </button>
        </div>
        <input
          [(ngModel)]="busca"
          type="text"
          class="form-control bg-light"
          placeholder="{{ 'chat.tabs.chats.search.placeholder' | translate }}"
        />
      </div>
    </div>
    <!-- Search Box-->
  </div>
  <!-- .p-4 -->

  <!-- Start user status -->
  <!-- <div class="px-4 pb-4" dir="ltr">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="item">
          <a href="#" class="user-status-box">
            <div class="avatar-xs mx-auto d-block chat-user-img online">
              <img
                src="assets/images/users/avatar-2.jpg"
                alt="user-img"
                class="img-fluid rounded-circle"
              />
              <span class="user-status"></span>
            </div>

            <h5 class="font-size-13 text-truncate mt-3 mb-1">
              {{ "chat.tabs.chats.users.1" | translate }}
            </h5>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <a href="#" class="user-status-box">
            <div class="avatar-xs mx-auto d-block chat-user-img online">
              <img
                src="assets/images/users/avatar-4.jpg"
                alt="user-img"
                class="img-fluid rounded-circle"
              />
              <span class="user-status"></span>
            </div>

            <h5 class="font-size-13 text-truncate mt-3 mb-1">
              {{ "chat.tabs.chats.users.2" | translate }}
            </h5>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <a href="#" class="user-status-box">
            <div class="avatar-xs mx-auto d-block chat-user-img online">
              <img
                src="assets/images/users/avatar-5.jpg"
                alt="user-img"
                class="img-fluid rounded-circle"
              />
              <span class="user-status"></span>
            </div>

            <h5 class="font-size-13 text-truncate mt-3 mb-1">
              {{ "chat.tabs.chats.users.3" | translate }}
            </h5>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <a href="#" class="user-status-box">
            <div class="avatar-xs mx-auto d-block chat-user-img online">
              <img
                src="assets/images/users/avatar-6.jpg"
                alt="user-img"
                class="img-fluid rounded-circle"
              />
              <span class="user-status"></span>
            </div>

            <h5 class="font-size-13 text-truncate mt-3 mb-1">
              {{ "chat.tabs.chats.users.4" | translate }}
            </h5>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <a href="#" class="user-status-box">
            <div class="avatar-xs mx-auto d-block chat-user-img online">
              <span
                class="avatar-title rounded-circle bg-soft-primary text-primary"
              >
                T
              </span>
              <span class="user-status"></span>
            </div>

            <h5 class="font-size-13 text-truncate mt-3 mb-1">
              {{ "chat.tabs.chats.users.5" | translate }}
            </h5>
          </a>
        </div>
      </ng-template>
    </owl-carousel-o>

    < end user status carousel -->
  <!-- </div> -->
  <!-- end user status -->

  <!-- Start chat-message-list -->
  <div class="px-2">
    <h5 class="mb-3 px-3 font-size-16">
      {{ "chat.tabs.chats.recent.title" | translate }}
    </h5>

    <perfect-scrollbar class="chat-message-list">
      <ul class="list-unstyled chat-list chat-user-list">
        <li
          (click)="showChat(user)"
          *ngFor="
            let user of chat
              | orderBy: '-dt_atualizacao'
              | filterBy: ['ds_nome']:busca
          "
          [ngClass]="{
            typing: user.isTyping,
            active: user.cd_codigo == idChat
          }"
          id="chat"
        >
          <a href="#" [ngClass]="user.st_interno === true ? 'int' : 'gru'">
            <div class="media">
              <h5>
                <span *ngIf="user.vl_nao_lida > 0" class="badge badge-danger">
                  {{ user.vl_nao_lida }}
                </span>
              </h5>
              <div
                class="chat-user-img align-self-center mr-3"
                [ngClass]="{
                  online: user.status === 'online',
                  away: user.status === 'away'
                }"
              >
                <img
                  *ngIf="user.profilePicture"
                  src="{{ user.profilePicture }}"
                  class="rounded-circle avatar-xs"
                  alt=""
                />
                <div class="avatar-xs" *ngIf="!user.profilePicture">
                  <span
                    class="
                      avatar-title
                      rounded-circle
                      bg-soft-primary
                      text-primary
                    "
                  >
                    {{ (user.name | translate).charAt(0) }}
                  </span>
                </div>
                <span *ngIf="user.status" class="user-status"></span>
              </div>

              <div class="media-body overflow-hidden">
                <h5 class="text-truncate font-size-15 mb-1">
                  {{ user.name | translate }}
                </h5>
                <p
                  *ngIf="user.isTyping"
                  class="chat-user-message text-truncate mb-0"
                >
                  typing<span class="animate-typing">
                    <span class="dot ml-1"></span>
                    <span class="dot ml-1"></span>
                    <span class="dot ml-1"></span>
                  </span>
                </p>
                <p class="chat-user-message text-truncate mb-0">
                  {{ user.lastMessage | translate }}
                </p>
              </div>
              <div class="font-size-11">
                {{ user.time | translate }}
              </div>

              <div>
                <dx-menu
                  #menu
                  [dataSource]="items"
                  displayExpr="name"
                  [showFirstSubmenuMode]="showFirstSubmenuModes"
                  orientation="horizontal"
                  submenuDirection="auto"
                  [hideSubmenuOnMouseLeave]="false"
                  [disabled]="user.st_interno || user.st_grupo"
                  (onItemClick)="itemClick($event, user.cd_codigo)"
                >
                </dx-menu>
              </div>
              <div *ngIf="!user.st_grupo" class="unread-message">
                <span class="badge badge-soft-info badge-pill">{{
                  user.unRead
                }}</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </perfect-scrollbar>
  </div>
  <!-- End chat-message-list -->
</div>
<!-- Start chats content -->
